<div ng-app="angularfireStarterApp">

  <ui-view></ui-view>

</div>

<%= javascript_include_tag "/app" %>
<%= javascript_include_tag "/auth/auth.controller" %>
<%= javascript_include_tag "/auth/auth.service" %>
<%= javascript_include_tag "/users/users.service" %>
<%= javascript_include_tag "/users/profile.controller" %>